.about {
	background: linear-gradient(
		180deg,
		#5a4727 0%,
		rgba(239, 232, 205, 0) 50%,
		#5a4727 100%
	);
	width: 100%;
	min-height: 100vh;
}

.about-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 3rem 0;
}

.about-tittle {
	color: var(--second-text-color);
	font-size: 56px;
	font-weight: 400;
	margin: 3rem;
}

.about-text-wrapper {
	display: flex;
	align-items: center;
	gap: 2rem;
	flex-wrap: wrap;
	justify-content: space-between;
}

.about-text {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 50%;
}

.about-text-inner {
	list-style: none; /* Видаляємо стандартні маркери списку */
	padding: 0;
	margin: 0;
}

.about-text-item {
	display: flex;
	align-items: center; /* Центруємо іконку та текст по вертикалі */
	margin-bottom: 2rem;
}

.about-item-img {
	width: 2.5rem; /* Ширина іконки */
	height: 2.5rem; /* Висота іконки */
	margin-right: 1rem;
}

.about-img {
	width: 30rem;
	background-color: var(--background-color);
	border-radius: 50%;
	width: 480px;
	height: 480px;
	object-fit: cover;
}

/* Адаптивність для екранів до 992px */
@media (max-width: 1068px) {
	.about-tittle {
		font-size: 36px; /* Зменшуємо розмір заголовка */
		margin-bottom: 2rem;
	}

	.about-text-wrapper {
		flex-direction: column; /* Вирівнюємо всі елементи у вертикальну колонку */
		align-items: center; /* Центруємо елементи */
		gap: 2rem; /* Встановлюємо відступ між елементами */
	}
	.about-text:first-child {
		border-radius: 3rem 3rem 3rem 0;
	}
	.about-text:last-child {
		border-radius: 3rem 3rem 0 3rem;
	}

	.about-text {
		width: 90%; /* Зменшуємо ширину тексту */
		background-color: rgba(0, 0, 0, 0.5); /* Додаємо затемнений фон */
		padding: 1.5rem;
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Додаємо тінь для блоку */
	}

	.about-img {
		display: none;
	}

	.about-text-inner {
		list-style: none;
		padding: 0;
		margin: 0;
	}

	.about-text-item {
		display: flex;
		align-items: center;
		gap: 1rem;
		margin-bottom: 1rem; /* Зменшуємо відступи між елементами списку */
		color: var(--second-text-color); /* Колір тексту */
	}

	.about-item-img {
		width: 2rem;
		height: 2rem;
	}
}

/* Адаптивність для екранів до 768px */
@media (max-width: 768px) {
	.about-tittle {
		font-size: 32px;
		margin-bottom: 1.5rem;
	}

	.about-text-wrapper {
		gap: 1.5rem;
	}

	.about-text {
		width: 100%;
		padding: 1rem;
	}

	.about-img {
		width: 280px;
		height: 280px;
	}

	.about-item-img {
		width: 1.5rem; /* Ще більше зменшуємо іконки */
		height: 1.5rem;
	}

	.about-text-item {
		margin-bottom: 1rem; /* Зменшуємо відступи для ще більш компактного вигляду */
	}
}
