.about {
	background: linear-gradient(
		180deg,
		#5a4727 0%,
		rgba(239, 232, 205, 0) 50%,
		#5a4727 100%
	);
	width: 100%;
	min-height: 100vh;
}

.about-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.about-tittle {
	color: var(--second-text-color);
	font-size: 56px;
	font-weight: 400;
	margin: 3rem;
}

.about-text-wrapper {
	display: flex;
	align-items: center;
	gap: 2rem;
	flex-wrap: wrap;
	justify-content: space-between;
}

.about-text {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 50%;
}

.about-text-inner {
	list-style: none; /* Видаляємо стандартні маркери списку */
	padding: 0;
	margin: 0;
}

.about-text-item {
	display: flex;
	align-items: center; /* Центруємо іконку та текст по вертикалі */
	margin-bottom: 2rem;
}

.about-item-img {
	width: 2.5rem; /* Ширина іконки */
	height: 2.5rem; /* Висота іконки */
	margin-right: 1rem;
}

.about-img {
	width: 30rem;
	background-color: var(--background-color);
	border-radius: 50%;
	width: 480px;
	height: 480px;
	object-fit: cover;
}

/* Адаптивність для екранів до 992px */
@media (max-width: 992px) {
	.about-tittle {
		font-size: 48px; /* Зменшуємо розмір заголовка */
		margin: 2rem;
	}

	.about-text-wrapper {
		flex-direction: column; /* Розташовуємо текст над зображенням */
	}

	.about-text {
		width: 100%; /* Текст займає всю ширину */
		padding: 1rem;
		/* color: var(--second-text-color); */
	}

	.about-img {
		width: 380px; /* Зменшуємо розмір зображення */
		height: 380px;
	}

	.about-img::after {
		content: "";
		display: block;
		width: 100%;
		height: 2px; /* Висота лінії */
		background-color: var(--primary-color); /* Колір лінії */
		margin: 2rem 0; /* Відступи для лінії, щоб надати їй простору */
	}

	.about-text-wrapper {
		flex-direction: column; /* Розташовуємо елементи вертикально */
	}

	.about-text {
		width: 100%; /* Займає всю ширину для мобільних пристроїв */
	}

	.about-text:nth-child(odd) {
		order: 1; /* Текст залишається першим для непарних блоків */
	}

	.about-img:nth-child(even) {
		order: 2; /* Картинка йде після тексту для непарних блоків */
	}

	.about-img:nth-child(odd) {
		order: 4; /* Картинка йде після тексту для парних блоків */
	}

	.about-text:nth-child(even) {
		order: 3; /* Текст йде перед картинкою для парних блоків */
	}
}

/* Адаптивність для екранів до 768px */
@media (max-width: 768px) {
	.about-tittle {
		font-size: 36px; /* Ще більше зменшуємо заголовок */
		margin: 1.5rem;
	}

	.about-text-wrapper {
		gap: 1.5rem; /* Зменшуємо проміжок між блоками */
	}

	.about-text-item {
		margin-bottom: 1.5rem; /* Зменшуємо відступи між елементами списку */
	}

	.about-img {
		width: 300px; /* Зменшуємо розмір зображення для компактного розміщення */
		height: 300px;
	}

	.about-item-img {
		width: 2rem; /* Зменшуємо розмір іконок */
		height: 2rem;
		margin-right: 0.75rem;
	}
}
