.about {
	background: linear-gradient(
		180deg,
		#5a4727 0%,
		rgba(239, 232, 205, 0) 50%,
		#5a4727 100%
	);
	width: 100%;
	min-height: 100vh;
}

.about-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 3rem 0;
}

.about-tittle {
	color: var(--second-text-color);
	font-size: 56px;
	font-weight: 400;
	margin: 3rem;
}

.about-text-wrapper {
	display: flex;
	align-items: center;
	gap: 2rem;
	flex-wrap: wrap;
	justify-content: space-between;
}

.about-text {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 50%;
}

.about-text-inner {
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: var(--second-text-color);
	background-color: rgba(91, 72, 39, 0.5);
	border-radius: 1rem;
	padding: 1rem;
	list-style: none;
	margin: 0;
}

.about-text-item {
	display: flex;
	align-items: center;
	margin-bottom: 2rem;
}

.about-item-img {
	filter: invert(1);
	width: 2.5rem;
	height: 2.5rem;
	margin-right: 1rem;
}

.about-img {
	width: 30rem;
	background-color: rgba(91, 72, 39, 0.5);
	border-radius: 50%;
	width: 480px;
	height: 480px;
	object-fit: cover;
}

/* Адаптивність для екранів до 992px */
@media (max-width: 1068px) {
	.about-tittle {
		font-size: 36px;
		margin-bottom: 2rem;
	}

	.about-text-wrapper {
		flex-direction: column;
		align-items: center;
		gap: 2rem;
	}
	.about-text:first-child {
		border-radius: 3rem 3rem 3rem 0;
	}
	.about-text:last-child {
		border-radius: 3rem 3rem 0 3rem;
	}

	.about-text {
		width: 90%;
		background-color: rgba(91, 72, 39, 0.7);
		padding: 1.5rem;
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	}

	.about-img {
		display: none;
	}

	.about-text-inner {
		background-color: rgba(0, 0, 0, 0);
		list-style: none;
		padding: 0;
		margin: 0;
	}

	.about-text-item {
		display: flex;
		align-items: center;
		gap: 1rem;
		margin-bottom: 1rem;
		color: var(--second-text-color);
	}

	.about-item-img {
		width: 2rem;
		height: 2rem;
	}
}

/* Адаптивність для екранів до 768px */
@media (max-width: 768px) {
	.about-tittle {
		font-size: 32px;
		margin-bottom: 1.5rem;
	}

	.about-text-wrapper {
		gap: 1.5rem;
	}

	.about-text {
		width: 100%;
		padding: 1rem;
	}

	.about-img {
		width: 280px;
		height: 280px;
	}

	.about-item-img {
		width: 1.5rem;
		height: 1.5rem;
	}

	.about-text-item {
		margin-bottom: 1rem;
	}
}
