/* Import Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

/* General Styles */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	/* Fonts */
	--primary-font: "Nunito", sans-serif;
	--secondary-font: "Raleway", sans-serif;

	/* Colors */
	--primary-color: #ffa726; /* Світліший теплий помаранчевий */
	--secondary-color: #78909c; /* Світліший сіро-блакитний */
	--background-color: #fff3e0; /* Світлий кремовий фон */
	--color-white: #ffffff; /* Чистий білий для свіжості */
	--items-color: #ffd54f; /* Світлий жовтий для предметів */
	--text-color: #37474f; /* Темно-сірий для тексту, але зі світлим відтінком */
	--secondary-text-color: #212121; /* Дуже темний сірий для кращої читабельності */
	/* Scroll */
	scroll-behavior: smooth;
}

a {
	text-decoration: none;
}

p {
	margin-bottom: 0;
}

body {
	font-family: var(--primary-font);
	background-color: var(--background-color-white);
	color: var(--text-color);
}

.container {
	max-width: 1200px;
}

img {
	display: block;
	width: 100%;
}
