/* Import Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

/* General Styles */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	/* Fonts */
	--primary-font: "Nunito", sans-serif;
	--secondary-font: "Raleway", sans-serif;

	/* Colors */
	--primary-color: #ff7b00; /* Оновлений основний колір: теплий оранжевий, трохи більш насичений */
	--secondary-color: #5c6b73; /* Оновлений другорядний колір: менш контрастний, з теплим відтінком сіро-блакитного */
	--background-color: #f9e8d1; /* Оновлений колір фону: пастельний кремовий, який створює теплий фон */
	--background-color-white: #fffaf3; /* Оновлений білий фон: трохи м'якший відтінок білого, щоб зберегти теплоту */
	--items-color: #ffa573; /* Оновлений колір предметів: більш приглушений оранжево-рожевий, щоб додати гармонію */
	--text-color: #37474f; /* Оновлений текстовий колір: глибокий, але теплий сіро-синій */
	--secondary-text-color: #111; /* Оновлений другорядний текстовий колір: темно-сірий для гарної читабельності */

	/* Scroll */
	scroll-behavior: smooth;
}

a {
	text-decoration: none;
}

p {
	margin-bottom: 0;
}

body {
	font-family: var(--primary-font);
	background-color: var(--background-color-white);
	color: var(--text-color);
}

.container {
	max-width: 1200px;
}

img {
	display: block;
	width: 100%;
}
