.feedback {
	background: url("/img/bg_feedback.png") no-repeat center center;
	background-size: cover;
	padding: 2rem;
}

.feedback-section {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	position: relative;
	width: 100%;
	box-sizing: border-box;
	overflow: hidden;
}

.feedback-wrapper {
	display: flex;
	justify-content: center;
	margin: 0 60px 35px;
	padding: 20px 10px;
}

.feedback-slide {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	text-align: center;
	padding: 20px;
	min-height: 35rem;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	border-radius: 10px;
	background: var(--secondary-color);
	transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.feedback-slide:hover {
	transform: translateY(-10px);
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.feedback-img {
	width: 100%;
	height: auto;
	border-radius: 10px;
	margin-bottom: 15px;
	transition: transform 0.3s ease;
}

.feedback-slide:hover .feedback-img {
	transform: scale(1.05);
}

.feedback-title {
	font-size: 1.5rem;
	font-weight: 600;
	margin: 10px 0;
	color: var(--first-text-color);
}

.feedback-description {
	font-size: 1rem;
	color: var(--first-text-color);
}

.swiper-button-next,
.swiper-button-prev {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 44px;
	height: 44px;
	background: rgba(0, 0, 0, 0.5);
	color: var(--second-text-color);
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	z-index: 10;
	transition: background 0.3s ease, transform 0.3s ease;
	color: var(--primary-color);
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
}

.swiper-button-next {
	right: -20px;
}

.swiper-button-prev {
	left: -20px;
}

.swiper-pagination {
	position: absolute;
	bottom: 20px;
	width: 100%;
	text-align: center;
}

/* Стиль для точок пагінації */
.swiper-pagination-bullet {
	width: 12px;
	height: 12px;
	background-color: var(--primary-color); /* Використовуємо основний колір */
	opacity: 0.5;
	border-radius: 50%;
	margin: 0 4px;
	transition: background-color 0.3s ease, transform 0.3s ease;
	cursor: pointer;
}

/* Активна точка пагінації */
.swiper-pagination-bullet-active {
	background-color: var(
		--third-color
	); /* Змінюється на третинний колір при виборі */
	opacity: 1;
	transform: scale(1.2); /* Трохи збільшуємо розмір активної точки */
}

@media (max-width: 768px) {
	.swiper-button-next,
	.swiper-button-prev {
		width: 36px;
		height: 36px;
	}
	.feedback-slide {
		padding: 10px;
	}
	.feedback-title {
		font-size: 1.2rem;
	}
	.feedback-description {
		font-size: 0.9rem;
	}

	.swiper-pagination-bullet {
		width: 10px;
		height: 10px;
	}

	.swiper-pagination {
		bottom: 10px; /* Трохи піднімаємо пагінацію */
	}
}

@media (max-width: 576px) {
	.swiper-button-next,
	.swiper-button-prev {
		display: none;
	}
	.swiper-pagination-bullet {
		width: 8px;
		height: 8px;
	}
}
