.form {
	min-height: 100vh;
	padding: 50px;
	background: url("/img/bg_form.png") no-repeat center center fixed;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
}

.form-wrapper {
	width: 100%;
	border-radius: 1.5rem;
	border: 4px solid rgba(239, 232, 205, 0);
	background: linear-gradient(
		109deg,
		rgba(239, 232, 205, 0.28) 0%,
		rgba(239, 232, 205, 0) 100%
	);
	backdrop-filter: blur(25px);
	padding: 2rem 3rem;
}

.form-title {
	color: #ff9d25;
	text-align: center;
	font-size: 2rem;
	margin-bottom: 2rem;
	font-family: "Unbounded", sans-serif;
}

.form-forms {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.form-field {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 1rem;
}

.form-field label {
	font-family: var(--primary-font);
	color: var(--second-text-color);
	font-size: 1.2rem;
	margin-bottom: 0.5rem;
}

.form-field input,
.form-field textarea {
	min-width: 35rem;
	padding: 10px;
	border: none;
	border-radius: 0.5rem;
	outline: none;
	resize: none;
}

.form-btn {
	width: 50%;
	align-self: center;
}
