.form {
	min-height: 100vh;
	padding: 50px;
	background: url("/img/bg_form.webp") no-repeat center center scroll;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
}

.form-wrapper {
	width: 100%;
	max-width: 1000px;
	min-width: 1000px; /* Початкова ширина для великих екранів */
	border-radius: 1.5rem;
	border: 4px solid rgba(239, 232, 205, 0);
	background: linear-gradient(
		109deg,
		rgba(239, 232, 205, 0.28) 0%,
		rgba(239, 232, 205, 0) 100%
	);
	backdrop-filter: blur(25px);
	padding: 2rem 3rem;
	box-sizing: border-box;
}

.form-title {
	color: #ff9d25;
	text-align: center;
	font-size: 2rem;
	margin-bottom: 2rem;
	font-family: "Unbounded", sans-serif;
}

.form-forms {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.form-field {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 1rem;
	width: 100%;
}

.form-field label {
	font-family: var(--primary-font);
	color: var(--second-text-color);
	font-size: 1.2rem;
	margin-bottom: 0.5rem;
}

.form-field input,
.form-field textarea {
	width: 100%;
	padding: 10px;
	border: none;
	border-radius: 0.5rem;
	outline: none;
	resize: none;
	box-sizing: border-box;
}

.form-btn {
	width: 100%;
	max-width: 300px;
	align-self: center;
}

/* Адаптивність для великих, середніх та малих екранів */
@media (max-width: 1200px) {
	.form-wrapper {
		max-width: 800px;
		min-width: auto;
	}
}

@media (max-width: 992px) {
	.form-wrapper {
		max-width: 600px;
		min-width: auto;
		padding: 2rem;
	}
}

@media (max-width: 768px) {
	.form-wrapper {
		max-width: 100%;
		min-width: auto;
		padding: 1.5rem;
	}
}
