.navbar {
	position: sticky;
	top: 0;
	z-index: 100;
	background-color: var(--background-color);
	padding: 20px 0;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
	width: 100%;
}

.navbar-wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

.navbar-logo a {
	font-size: 1.8rem;
	font-weight: 700;
	color: var(--secondary-text-color);
	text-decoration: none;
}

/* Посилання для навігації */
.navbar-wrapper-links {
	display: flex;
	align-items: center;
}

.navbar-links {
	list-style: none;
	display: flex;
	align-items: center;
	gap: 20px;
}

.navbar-links li {
	margin: 0;
}

.navbar-links a {
	font-size: 1.2rem;
	font-weight: 500;
	color: var(--text-color);
	text-decoration: none;
	padding: 10px 15px;
	transition: color 0.3s ease;
}

.navbar-links a:hover {
	color: var(--primary-color);
}

/* Кнопка */
.btn-primary {
	background-color: transparent;
	color: var(--primary-color);
	border: 2px solid var(--primary-color);
	padding: 8px 20px;

	border-radius: 50px;
	text-decoration: none;
	font-weight: 500;
	transition: background-color 0.3s ease, color 0.3s ease;
	outline: none;
}

.btn-primary:hover {
	background-color: var(--primary-color);
	border-color: var(--primary-color);
	color: white;
}

.btn-primary:focus,
.btn-primary:focus-visible {
	outline: none;
	box-shadow: none; /* Запобігає синій тіні при фокусі */
}

/* Адаптивність для мобільних пристроїв */
@media (max-width: 768px) {
	.navbar-wrapper {
		flex-direction: row;
		justify-content: space-between;
	}

	.navbar-links {
		flex-direction: column;
		display: none;
		width: 100%;
		position: absolute;
		top: 60px;
		left: 0;
		background-color: var(--background-color);
		padding: 10px;
	}

	.navbar-links.active {
		display: flex;
	}

	.btn-primary {
		width: 100%; /* Кнопка розтягнеться на весь навбар */
		text-align: center;
	}

	.hamburger {
		display: block;
		cursor: pointer;
	}

	.hamburger span {
		width: 25px;
		height: 3px;
		background-color: var(--text-color);
		margin: 5px 0;
		transition: 0.4s;
	}
}

@media (min-width: 992px) {
	.hamburger {
		display: none;
	}

	.navbar-links {
		display: flex;
	}
}
